.row1 span {
    margin-left: 40px;
}

#prikazSlika {
    margin-top: 40px;
}

.slika {
    background-color: red;
}
/* 
table tr td  {
    background-color: red;
} */

img {
    width: 50px;
    height: 50px;
}

 #case4x4 {
    display: block;
    flex-wrap: wrap;
    width: 220px;
    height: 240px;
    box-sizing: border-box;
    border: 1px solid grey;
}

 #case6x6 {
    display: block;
    flex-wrap: wrap;
    width: 330px;
    height: 350px;
    box-sizing: border-box;
    border: 1px solid grey;
} 

 #case8x8 {
    display: block;
    flex-wrap: wrap;
    width: 440px;
    height: 470px;
    box-sizing: border-box;
    border: 1px solid grey;
}

#case10x10 {
    display: block;
    flex-wrap: wrap;
    width: 550px;
    height: 580px;
    box-sizing: border-box;
    border: 1px solid grey;
} 